/bin/
#/build/
/build/classes
/build/reports
/build/resources
/build/test-results
/build/tmp
/.gradle/
/.settings/
/.classpath
/.project
*.class
.mtj.tmp/
*.jar
*.war
*.ear
hs_err_pid*
*.*~
.xml.bak

